.hero-container{
    display: flex;

    .hero-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
        .hero-content-title{
            margin: 0;
            font-size: 48px;
            font-weight: 800;
            color: hsl(228, 39%, 23%);
        }
        .hero-content-description{
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            color: hsl(227, 12%, 61%);
        }
    }
    .hero-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}