.contact-container{
    padding: 4rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(12, 88%, 59%);
    .contact-title{
        color: hsl(0, 0%, 98%);
        font-size: 32px;
        font-weight: 600;
        margin: 0;
    }
    .custom-button{
        width: 160px;
        padding: 0.8rem 1.5rem;
        font-size: 14px;
        font-weight: 400;
    
        border: none;
        outline: none;
        color: hsl(12, 88%, 59%);
        background-color: hsl(0, 0%, 98%);
        border-radius: 50px;
        
    }
}