.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo-container{
        display: flex;
        align-items: center;
    }

    .nav-list{
        list-style: none;
        display: flex;
        gap: 15px;
    }

    .get-started-btn{
        padding: 0.8rem 1.5rem;
        font-size: 12px;
        font-weight: 400;

        border: none;
        outline: none;
        background-color: hsl(12, 88%, 59%);
        color: hsl(0, 0%, 98%);
        border-radius: 50px;
    }
}